header {
    padding-bottom: 10px;
    box-shadow: 0px 2px 3px lightgray;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 110px;
}

#mainWrapper {
    padding-top: 110px;
    z-index: 3;
}

#overlay {
    z-index:1;
    /*　画面全体を覆う設定　*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    /*　画面の中央に要素を表示させる設定　*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#window{
    z-index:2;
    width:50%;
    padding: 1em;
    background:#fff;
  }

h1 {
    font-size: x-large;
}

.clGray {
    color: gray;
}

.clViolet {
    color: violet;
}

.clPink {
    color: salmon;
}

.smallTxt {
    font-size: small;
}

.largeTxt {
    font-size: x-large;
}

#flexHeaderContainer {
    display: flex;
    align-items: flex-end;
}

.contents {
    margin-top: 20px;
}

.borderPink {
    border: 1px solid;
    border-color: pink;
}

.flexCategoryContainer {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
}

.flexRight {
    margin-left: auto;
}

.flexChkBoxContainer {
    display: flex;
    align-items: center;
}
.chkCategory {
    margin-right: 40px;
}

.categoryWrapper {
    padding: 15px 10px;
}

.flexPlaceContainer {
    display: flex;
}

.place {
    margin-right: 10px;
}

footer {
    margin-top: 40px;
    background-color:lavender;
}

#flexFooterMenuContainer {
    display: flex;
}


